<% tree_open_path = case item
  when Project
    project_document_tree_path(item, node_id: item.id, tree_action: "show", format: :turbo_stream)
  when DocumentsHelper::DocumentTreeFolderNode
    project_document_tree_path(item.project, tree_action: "show", source_path: item.path, format: :turbo_stream)
  end %>
<% tree_refresh_path = case item
  when Project
    project_document_tree_path(item, node_id: item.id, tree_action: "show", format: :turbo_stream)
  when DocumentsHelper::DocumentTreeFolderNode
    project_document_tree_path(item.project, tree_action: "show", source_path: item.path, format: :turbo_stream)
  when Document
    project_document_tree_path(item.project, document_slug: item.slug, format: :turbo_stream)
  end %>
<% tooltip = tree_item_tooltip(item) %>

<td class="<%= tree_item_css_class(item) %>">
  <%= link_to tree_item_label(item),
    tree_item_path(item),
    class: ["tree-item-label", tree_item_label_size_class(item)].compact,
    title: tooltip,
    data: {
      turbo_frame: "main_panel",
      tree_nav_link: true,
      tree_item_type: item.is_a?(DocumentsHelper::DocumentTreeFolderNode) ? "document_tree_folder" : item.class.name.underscore,
      tree_open_url: tree_open_path,
      tree_refresh_url: tree_refresh_path
    } %>

  <% if item.is_a?(DocumentsHelper::DocumentTreeFolderNode) %>
    <%= button_to project_document_zip_path(item.project), method: :post, params: { source_path: item.path, zip_path_mode: "source_path", include_markdown_sources: true, include_attachments: true }, class: "tree-download-button", title: "このフォルダ内のすべてのファイルをZIPでダウンロード", form: { class: "tree-download-form" }, data: { turbo_frame: "_top" }, aria: { label: "このフォルダ内のすべてのファイルをZIPでダウンロード" } do %>
      <svg class="download-icon" viewBox="0 0 24 24" width="16" height="16" aria-hidden="true" focusable="false">
        <path d="M12 3a1.25 1.25 0 0 1 1.25 1.25v9.18l3.13-3.13a1.25 1.25 0 1 1 1.77 1.77l-5.26 5.25a1.25 1.25 0 0 1-1.78 0l-5.26-5.25a1.25 1.25 0 0 1 1.77-1.77l3.13 3.13V4.25A1.25 1.25 0 0 1 12 3Z"/>
        <path d="M4.25 15.5a1.25 1.25 0 0 1 1.25 1.25v1.75h13v-1.75a1.25 1.25 0 1 1 2.5 0v3A1.25 1.25 0 0 1 19.75 21H4.25A1.25 1.25 0 0 1 3 19.75v-3a1.25 1.25 0 0 1 1.25-1.25Z"/>
      </svg>
    <% end %>
  <% end %>

  <% tree_item_status_icons(item).each do |status_icon| %>
    <span id="<%= status_icon[:id] %>" class="tree-item-status-icon <%= status_icon[:class] %>" title="<%= status_icon[:title] %>" aria-label="<%= status_icon[:title] %>"><%= status_icon[:text] %></span>
  <% end %>
</td>
