<% page_title @document.title %>
<% content_for :left_content do %>
  <%= render "tree", projects: @tree_projects, current_project: @project, current_document: @document %>
<% end %>

<h1><%= @document.title %></h1>
<p class="muted">
  案件: <%= @project.name %> /
  カテゴリ: <%= @document.category %> /
  種別: <%= @document.document_kind %>
</p>

<h2>バージョン</h2>
<ul>
  <% @versions.each do |version| %>
    <li>
      <strong><%= version.version_label %></strong>
      (<%= version.status %>)
      <% if version.rendered_site_available? %>
        - <%= link_to "表示", view_document_version_path(version) %>
      <% end %>

      <% if version.document_files.any? %>
        <ul>
          <% version.document_files.order(:sort_order).each do |file| %>
            <li>
              <% if file.downloadable_by?(current_user) %>
                <%= link_to file.file_name, document_file_path(file) %>
              <% else %>
                <%= file.file_name %>
              <% end %>
              (<%= file.content_type %><%= file.effective_content_type.start_with?("text/markdown") ? " / 生ファイル表示" : "" %>)
            </li>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
</ul>

<p><%= link_to "文書一覧へ戻る", project_documents_path(@project) %></p>
