<% content_for :left_content do %>
  <%= render "documents/tree", projects: @tree_projects, current_project: @project, current_document: nil %>
<% end %>

<% page_title @project.name %>
<h1><%= @project.name %></h1>

<p class="muted">
  コード: <%= @project.code %><br>
  <%= @project.description %>
</p>

<% if (site_version = @project.default_site_version_for(current_user)) %>
  <p><%= link_to "ドキュメントサイトを表示", project_site_path(@project, site_path: site_version.html_view_site_path, version_id: site_version.public_id) %></p>
<% end %>

<h2>資料一覧</h2>
<ul>
  <% @documents.each do |document| %>
    <li><%= link_to document.title, project_document_path(@project, document.slug) %></li>
  <% end %>
</ul>

<p><%= link_to "文書一覧へ", project_documents_path(@project) %></p>
<p><%= link_to "案件一覧へ戻る", projects_path %></p>
