<%= render "shared/error_messages", record: user %>

<%= form_with model: [:admin, user] do |form| %>
  <div class="form-grid">
    <label>
      氏名
      <%= form.text_field :name %>
    </label>
    <label>
      メールアドレス
      <%= form.email_field :email_address %>
    </label>
    <label>
      ユーザー種別
      <%= form.select :user_type, User.user_types.keys.map { |key| [key, key] } %>
    </label>
    <label>
      会社
      <%= form.collection_select :company_id, @companies, :id, :name, include_blank: "未所属" %>
    </label>
    <label>
      有効
      <%= form.select :active, [["有効", true], ["無効", false]] %>
    </label>
    <label>
      パスワード
      <%= form.password_field :password %>
    </label>
    <label>
      パスワード確認
      <%= form.password_field :password_confirmation %>
    </label>
  </div>
  <p class="muted">編集時にパスワードを変えない場合は空欄のまま保存できます。</p>
  <p class="actions">
    <%= form.submit "保存", class: "button" %>
    <% if user.persisted? %>
      <%= link_to "一覧へ戻る", admin_users_path, class: "button secondary" %>
    <% end %>
  </p>
<% end %>
